// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    position: relative;
    display: block;
    margin-left: -5px;
    padding: 7px 7px 4px;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
    text-transform: uppercase;
    line-height: 112.5%;
    letter-spacing: 2%;
    font-size: 15px;
    color: $black;
    font-family: $f-heading;
    transition: 0.3s;
    z-index: 2;
    &:before {
        position: absolute;
        content: '';
        left: 8px;
        bottom: 2px;
        width: calc(100% - 15px);
        border-bottom: 1px solid $black;
        transition: 0.3s;
    }
    &:after {
        position: absolute;
        content: '';
        left: -5px;
        top: -3px;
        width: 0%;
        height: calc(100% + 6px);
        background-color: $black;
        transition: 0.3s;
        z-index: -1;
    }
    &:hover {
        color: $white;
        &:after {
            width: calc(100% + 10px);
        }
    }
    @include mq(tablet, min) {
        font-size: 16px;
    }
    @include mq(desktop, min) {
        font-size: 16px;
    }

    &.btn-white {
        color: $white;
        &:before {
            border-color: $white;
        }
    }
}

.button {
    display: block;
    width: 125px;
    padding: 10px 0;
    text-align: center;
    height: fit-content;
    font-family: $f-text-1;
    font-size: 14px;
    border: 1px solid $black;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $black;
        color: $white;
    }
    &.button-dark {
        background-color: $black;
        color: $white;
        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}