.loader {
  position: absolute;
  left: calc(50% - 39px);
  top: -50px;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid $black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  @include mq(tablet, max) {
    left: calc(50% - 20px);
    top: 0;
    width: 40px;
    height: 40px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 