.our-team {
    padding: 50px 0 120px;
    &__title {
        margin-bottom: 110px;
        @include mq(desktop-small) {
            margin-bottom: 85px;
        }
        @include mq(tablet-small) {
            margin-bottom: 35px;
        }
    }
    &__carousel {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .slick-prev, .slick-next {
            top: -135px;
            left: calc(100% - 80px);
            @include mq(desktop-small) {
                top: -105px;
                left: calc(100% - 70px);
                width: 20px;
                height: 20px;
            }
            @include mq(tablet-small) {
                top: -50px;
                left: calc(100% - 55px);
                width: 15px;
                height: 15px;
            }
            &:before {
                position: absolute;
                content: '';
                top: 0;
                width: 20px;
                height: 20px;
                border: 4px solid;
                border-color: $black $black transparent transparent;
                transform: scaleY(0.7) rotate(45deg) ;
            }
        }
        .slick-prev {
            left: calc(100% - 130px);
            @include mq(desktop-small) {
                left: calc(100% - 100px);
                width: 20px;
                height: 20px;
            }
            @include mq(tablet-small) {
                left: calc(100% - 90px);
                width: 15px;
                height: 15px;
            }
            &::before {
                border-color: transparent transparent $black $black;
            }
        }
    }
}